.featured
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featuredItem
{
    flex: 1 ;
    margin:0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 8px 0px 0px 0px #DCD0C0, 0px 8px 0px 0px #B1938B, -8px 0px 0px 0px #4E4E56, 0px 0px 0px 8px #DA635D, 14px 0px 15px 5px rgba(0,0,0,0); 
    box-shadow: 8px 0px 0px 0px #DCD0C0, 0px 8px 0px 0px #B1938B, -8px 0px 0px 0px #4E4E56, 0px 0px 0px 8px #DA635D, 14px 0px 15px 5px rgba(0,0,0,0);
}

.featuredTitle
{
   font-size: 20px;
}

.featuredMoneyContainer
{
    margin: 10px 0px;
    display: flex;
    align-items: center;

}

.featuredMoney
{
    font-size: 30px;
    font-weight: 600;
}

.featuredMoneyRate
{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.featuredIcon
{
    font-size: 14px;
    margin-left: 5px;
    color: green;
}
.featuredIcon.negative
{
    color: red;
}
.featuredSub
{
    font-size: 15px;
    color: gray;
}
